$grid-columns: 12;
$grid-gutter-width: 20px;

$grid-gutter-widths: (
    xs: $grid-gutter-width,
    md: $grid-gutter-width,
    lg: $grid-gutter-width
);

$grid-breakpoints: (
    xs: 0,
    md: 1024px,
    lg: 1600px
);

$black: #000;
$white: #fff;
$red: #f00;
$sand: #e0e0e3;

$lightCynober: #f2dede;
$darkCynober: #b94a48;

$veryDarkGray: #020202;
$darkGray: #333;
$gray: #666;
$lightGray: #999;
$veryLightGray: #eee;

/* buttons */
$btnFontFamily: sans-serif;
$btnBodyDefault: #f5f5f5;
$btnBodyPrimary: #06c;
$btnBodySuccess: #4c0;
$btnBodyWarning: #e90;
$btnBodyDanger: #e00;
