.PokemonList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    &__Item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 300px;
        border: 1px solid #333;
        border-radius: 15px;
    }

    &__Nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .App__Btn {
            margin: 0 20px;
        }
    }
}
