.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }

    &__Btn {
        display: inline-block;
        background: #eee;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 0 0 30px;
    }
}
