.PokemonDetails {
    h1 {
        text-transform: uppercase;
    }

    table {
        width: 90%;
        margin: 20px 5% 0;
        table-layout: fixed;

        th, td {
            vertical-align: top;
            padding: 10px 15px;
        }

        th {
            width: 20%;
            text-align: right;
        }
    }
}
